.pagination
  display: flex
  justify-content: center
  align-items: center
  gap: 1rem

.pagination-placeholder
  height: 2.5rem
  width: 100%

.pagination-current
  font-size: 1rem
  color: var(--text-color)
  font-weight: bold

.pagination-item
  display: flex
  align-items: center
  justify-content: center
  min-width: 2.5rem
  height: 2.5rem
  padding: 0 0.5rem
  border-radius: 0.5rem
  color: var(--text-color)
  text-decoration: none
  transition: all 0.2s ease
  background: var(--secondary-color)
  font-size: 0.9rem

  &:hover:not(.disabled)
    background: var(--primary-color)
    color: var(--secondary-text-color)

  &.current
    background: var(--primary-color)
    color: var(--secondary-text-color)
    font-weight: bold

  &.disabled
    opacity: 0.5
    cursor: not-allowed

.prev, .next
  position: relative
  min-width: 2.5rem
  padding: 0
  border-radius: 0.5rem
  color: var(--text-color)
  transition: background 0.2s ease
  display: flex
  align-items: center
  justify-content: center

  &:hover:not(.disabled)
    background: var(--primary-color)
    color: var(--secondary-text-color)

.pagination-icon
  width 1.2rem
  height 1.2rem



@media (max-width: 768px)
  .pagination
    flex-wrap: wrap